.App {
  text-align: center;
  
}

.Form {
  border-radius: 5px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  width: 30rem;
}

.Button {
  font-size: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.Divider {
  margin-top: 10px;
  background-color: #c76767;
}

.Title {
  margin-top: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login_background {
  background-image: url(../src/components/picture/login.jpg); 
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}




